[Desktop Entry]
Name=Fastfetch
Comment=System Information Tool
Exec=--app-id fastfetch bash -c "fastfetch; read"
Icon=utilities-terminal
Terminal=true
Type=Application
Categories=System;Information;
